<div markdown="span" class="alert alert-info" role="alert" style="
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    border-radius: 4px;
    ">
<i class="fa fa-info-circle" style="
content: \f05a;
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
font-size: inherit;
text-rendering: auto;" >&#128712;</i> <b>INFO:</b>
{{ include.content }}
</div>